html{
	background-color: blue;
	}

body{
	height: 100%;
	margin: 0px;
	border: 0px;
	padding: 0px;
	display: flex;
	flex-direction: column;
	}

#header{
	display: flex;
	background-color: green;
	flex: 0 0 100%;
	order: 1;
	padding: 5px 20px;
	flex-direction: column;
/*	flex-wrap: nowrap;*/
	}
#header-title{
	display: flex;
	flex-direction: row;
/*	flex-wrap: nowrap;*/
	order: 1;
	flex: 0 0 55px;
}
#header-prin{
	flex: 0 0 80%;
	order: 1;
	padding: 1px 1px;
	}
#header-foto{
	flex: 0 0 20px;
	order: 2;
	background-color: yellow;
	padding: 5px 5px;	
	border-color: black;
	border: 1px;
	}

#img-cv {
	width: 50px;
	height: 50px;
}
	
#header-subtitle{
	background-color: blue;
	flex: 0 0 7px;
	order: 2;
	padding: 1px 1px;
	}

h1{
	margin: 0;
	font-size: 3em;
	}
	
a{
	text-decoration: none;
	}

#nav{
	background-color: red;
	padding: 5px 20px;
	display: flex;
	flex: 0 0 15px;
	order: 2;
	flex-direction: row;
	}

.link {
	padding: 5px 10px;
}

#content{
	background-color: yellow;
	/*width: 75%; esto es la anchura de la capa
	height: 300px; altura capa */
	flex: 2;
	order: 3;
	display:flex;
	flex-direction: row;
	}

#content-nav{
	overflow: auto;
	background-color: purple;
	flex: 0 0 200px;
	order: 1;
	}

#content-prin{
	overflow: auto;
	background-color: orange;
	flex: 1;
	order: 2;
	}
	
.content-prin-int{
	background-color: beige;
	}
	
.content-prin-int-head{
	background-color: palegreen;
	}

#formulari2 {
	display: none;
	}

#formulari3 {
	display: none;
	}

#footer{
	background-color: brown;
	flex: 0 0 60px;
	order: 3;
	}
